<script>
function disable_button(btn_id)
{
  setTimeout(function() {
       location.reload();
   }, 100);
  
}

</script>

<div class="container" role="main">
  <div class="row">
    <div class="col-lg-12">   
      <h1>Conference Events</h1>
      <h3>Votes Remaining: <%= @votes %></h3>
      <% @topics.each do |topic| %>
      <div class="card">
        <div class="col-lg-12">
          <p><strong>Name: </strong><%= topic.name %></p>
          <p><strong>Description: </strong><%= topic.description %></p>
          <p><strong>Facilitator: </strong><%= topic.facilitator %></p>
          <p><strong>Points: </strong><%= topic.points %></p>
          <%= link_to "Vote", "/conferences/#{params[:conference_id]}/topics/#{topic.id}/vote", method: :put, class: "btn btn-primary", id: "btn_#{topic.id}" %>
          <br><br>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
