<div class="container" role="main">
  <div class="row" style="text-align: center">
    <div class="col-lg-12">
      <br><br>
      <h1 style="text-align: center">Conference Topic Results</h1>
      <h3 style="text-align: center">Votes Remaining: <%= @votes %></h3>
      <% @topics.each do |topic| %>
        <div class="card" style="width: 85%; text-align: center">
          <div class="col-lg-12" style="padding-left: 30px">
            <br /><br />
            <h3><strong>Name: </strong><%= topic.name %></h3>
            <p><strong>Description: </strong><%= topic.description %></p>
            <p><strong>Facilitator: </strong><%= topic.facilitator %></p>
            <h1><strong>Votes: </strong><%= topic.points %></h1>
            <br /><br /><br />
          </div>
        </div>
        <br><br>
      <% end %>
    </div>
  </div>
</div>
